.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.intro {
  background-color: rgb(70, 190, 190);
  color: white;
  padding: 240px;
  text-align: left;
  margin-bottom: 30px;
}

.introduction {
  text-align: left;
}

h1 {
  font-size: 48px;
}

.title {
  padding-top: 60px;
}

.billform {
  padding: 60px;
}

#label {
  font-size: 30px;
}

.graph {
  background-color: white;
  padding: 30px;
  color: blue;
}

.graph h2 {
  font-family: Courier;
  color: black;
}

.icons {
  padding: 60px;
}

.tips {
  background-color: rgb(70, 190, 190);
  color: white;
  padding: 120px;
}

.facts {
  padding: 120px;
}

ul {
  display: inline-block;
  text-align: left;
}

li {
  padding: 8px;
  font-size: 20px;
}

.logo {
  padding: 30px;
}

.badges {
  padding: 30px;
}
